@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;   
}

body{
    height: auto;
    width: auto;
    font-family: "Montserrat", serif;
}   

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0px 0px 15px gray; 
}

::-webkit-scrollbar-thumb {
    background: #0a96ba;
  }



.container
{
    display: 80%;
    height: 100vh; /*  To enable the scroll effect in the task scroll      */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 0px;
    gap: 3em;
}
