@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;   
}

body{
    height: auto;
    width: auto;
    font-family: "Montserrat", serif;
}   

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0px 0px 15px gray; 
}

::-webkit-scrollbar-thumb {
    background: #0a96ba;
  }



.container
{
    display: 80%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em 0px;
    gap: 3em;
}

.container h1
{
    text-align: center;
}

.inputContainer
{ 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em;
    border: 2px solid lightgray;
    border-radius: 0.2em;
}

.inputContainerContent
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainerContent div
{
    width: 100%;
    display: flex;
}

.inputIcon
{
    display: inline;
    width: 1em;
    padding: 0.5em;
    background-color: #0a96ba;
}

.inputContainerContent input
{
    width: 100%;
    font-size: 1em;
    border: 1px solid #0a96ba;
    outline: none;
    padding: 0.5em 0 0.5em 1em;
    background-color: white;
}

#inputNote
{
    display: none;
    color: red;
}

.inputContainerContent button
{
    width: 100%;
    padding: 0.5em 0px 0.5em 0px;
    color: white;
    background-color: #0a96ba;
    border: none;
    border-radius: 2px;
}



.listContainer
{
    width: 83.5%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.2em;  
}

#noTasksHeader
{
    text-align: center;
    display: none;
}

.tabsContainer
{
    width: 100%;
    display: flex; 
    gap: 1em;
}

.tabButton
{
    width: 100%;
    padding: 0.5em 0px 0.5em 0px;
    color: white;
    background-color: #0a96ba;
    border: none;
    border-radius: 2px;
}

.scrollContainer
{
    width: 100%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow-y: auto;
}
